@model ITS.Domain.Models.Bus.AddIntermediatePointViewModel
@{
    ViewBag.Title = "IntermediatePoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm())
{
    @Html.HiddenFor(m => m.MovementID)
    <div class="gadget" style="opacity: 1; z-index: 0;">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block" style="background-image: url(/images/button_dropup_bl.gif);">
                <img src="/images/spacer.gif" alt="picture" width="19" height="33" /></a>
            <h3>
                Danh sách điểm trung gian</h3>
        </div>
        <div class="gadgetblock" style="display: block;">
            <table class="gwlines full">
                <tbody>
                    <tr>
                        <th style="text-align: center">
                            Thứ tự
                        </th>
                        <th style="text-align: center">
                            Position (long,lat)
                        </th>
                        <th>
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.PointList.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center">
                                @Html.HiddenFor(m => m.PointList[i].ID)
                                @Html.TextBoxFor(m => m.PointList[i].OrderNumber, new { @class = "OrderNoTextBox" })
                            </td>
                            <td style="text-align: center">
                                @Html.TextBoxFor(m => m.PointList[i].lng, new { @class = "PointTextBox" })
                                @Html.TextBoxFor(m => m.PointList[i].lat, new { @class = "PointTextBox" })
                            </td>
                            <td  style="text-align: center">
                                <a href="@Url.Action("DeleteIntermediatePoint", new { ID = Model.PointList[i].ID })">
                                    Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Thêm điểm:
            <table class="gwlines full">
                <tbody>
                    <tr>
                        <td>
                            Longitude:
                        </td>
                        <td>@Html.TextBoxFor(m => m.NewPointLng)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Latitude:
                        </td>
                        <td>@Html.TextBoxFor(m => m.NewPointLat)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số thứ tự:
                        </td>
                        <td>@Html.TextBoxFor(m => m.NewPointOrder)
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <input type="submit" value="Save" /></p>
        </div>
    </div>
}