@model ITS.Domain.Models.Bus.Admin.BusMovementsViewModel
@{
    ViewBag.Title = "BusMovements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Tuyến xe: @Model.BusRoute.RouteName</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="gadget" style="opacity: 1; z-index: 0;">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block" style="background-image: url(/images/button_dropup_bl.gif);">
                <img src="/images/spacer.gif" alt="picture" width="19" height="33"></a>
            <h3>
                Thông tin di chuyển giữa các trạm</h3>
        </div>
        <div class="gadgetblock" style="display: block;">
            <table class="gwlines full">
                <tbody>
                    <tr>
                        <th>
                            Thứ tự
                        </th>
                        <th style="text-align: center">
                            Từ
                        </th>
                        <th style="text-align: center">
                            Đến
                        </th>
                        <th>
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.Movements.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.Movements[i].ID)
                                @Html.TextBoxFor(m => m.Movements[i].OrderNumber, new { @class = "OrderNoTextBox" })
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayTextFor(m => m.Movements[i].BusStationNameFrom)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayTextFor(m => m.Movements[i].BusStationNameTo)
                            </td>
                            <td style="text-align: center">
                                <a href="@Url.Action("DeleteBusMovement", new { ID = Model.Movements[i].ID })">Delete</a><br />
                                <a href="@Url.Action("IntermediatePoints", new { ID = Model.Movements[i].ID })">Điểm
                                    trung gian</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" value="Save" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Add movement", "AddBusMovement", new { ID = Model.BusRoute.RouteID })
</div>
